body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}


/* color */

.btn-neutral,
.btn-neutral.active,
.btn-neutral:active,
.btn-neutral:active:focus,
.btn-neutral:active:hover,
.btn-neutral.active:focus,
.btn-neutral.active:hover,
.show>.btn-neutral.dropdown-toggle,
.show>.btn-neutral.dropdown-toggle:focus,
.show>.btn-neutral.dropdown-toggle:hover {
    color: #fff !important;
    background: #fff !important;
}

.sidebar .nav li.active i,
.sidebar .nav li.active>a,
a,
a:hover,
a:focus {
    color: #56C4F3;
}

.btn-primary {
    background-image: linear-gradient(to left, #24BDC3, #095BCB);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.show>.btn-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:hover {
    background-color: #0eaaaf;
    color: #fff;
    border-color: #24BDC3;
}

.sidebar:after,
.off-canvas-sidebar:after {
    background-image: linear-gradient(to bottom, #56C4F3, #6edae0);
}

.sidebar .nav li:hover:not(.active)>a i,
.sidebar .nav li:focus:not(.active)>a i,
.off-canvas-sidebar .nav li:hover:not(.active)>a i,
.off-canvas-sidebar .nav li:focus:not(.active)>a i,
.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon,
.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon,
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon,
.sidebar .nav a i {
    color: #FFFFFF;
}

.sidebar .user a,
.off-canvas-sidebar .user a,
.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
    color: #FFFFFF;
    font-weight: 600;
}

.sidebar .nav li>a,
.off-canvas-sidebar .nav li>a {
    color: #FFFFFF;
    font-size: .8em;
    font-weight: 600;
}

#sidebar-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #56C4F3;
    background-color: #56C4F3;
}

#sidebar-wrapper::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: #56C4F3;
}

.footer {
    background: inherit;
}

.bellico {
    font-size: 20px;
}
.bellPar.active:before{
    position: absolute;
    top:0;
    left: 10px;
    content: "\f111";
    font-size: 7px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #d11d00;
}
.notificationDropMenu {
    right: 0 !important;
    left: unset !important;
    width: 500px;
    max-height: 530px;
}
.notificationDropMenu:before {
    right: 10px !important;
    left: auto !important;
}
.notificationDropMenu .dropdown-item {
    white-space: pre-wrap;
}
.viewMore {
    text-align: center;
    color: #66CCF8 !important;
}
.viewMoreSpinner {
    width: 14px;
    height: 14px;
}
.notiLoadMore a {
    text-decoration: none;
    font-size: 16px;
    color: #66CCF8 !important;
}
.notiContent a {
    text-decoration: none;
}
.notiTxt {
    padding: 6px 2px;
    font-size: 16px;
    color: #6c757d !important;
}

.content {
    background: inherit;
}

.form-check {
    padding: unset;
}

.form-control {
    border-radius: 5px;
}

#admin_login .form-control {
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.card-footer {
    padding: .75rem;
}

.sidebar .sidebar-wrapper [data-toggle="collapse"]~div>ul>li.active>a .sidebar-mini-icon,
.off-canvas-sidebar .sidebar-wrapper [data-toggle="collapse"]~div>ul>li.active>a .sidebar-mini-icon {
    color: #b34342;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #1D1D1D;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid #FE3839 !important;
    font-size: 16px;
    font-weight: bold;
}

.project-tab .nav-link {
    border: 1px solid transparent;
    color: #D1D2D6;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-bottom: 3px solid #FE3839 !important;
    border-color: transparent;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    /*margin-top: 10px;*/
}

.form__field {
    padding-left: 10px !important;
    font-family: inherit;
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    outline: 0;
    font-size: 13px;
    color: #212121;
    padding: 13px 10px 13px 0px;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 12px;
    cursor: text;
    top: 28px;
}

.form__field:focus~.form__label {
    color: #b7b7b7;
}

.fileinput .thumbnail img {
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 101px;
    border: 3px solid #1a74e2;
}

.fileinput .thumbnail {
    box-shadow: unset;
}

.upload-icon {
    background: #1a74e2;
    border: 3px solid #ffff !important;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0;
    line-height: 45px;
    font-size: 24px;
    right: -3px;
    position: absolute;
    top: 134px;
    z-index: 99999;
}

.upload-icon:hover,
.upload-icon:focus,
.upload-icon:active {
    background: #56C4F3;
    border: 3px solid #ffff;
    box-shadow: unset !important;
    background-color: #56C4F3 !important;
    border-color: #ffffff!important;
}

.btn {
    background: linear-gradient(to left, #56C4F3, #47c0f4);
    color: #FFFFFF;
    font-weight: 500;
    border: unset;
    font-size: 15px;
    transition: 0.3s;
    background-size: 200% auto;
}

.btn:hover {
    transform: translateY(-2px);
    background-position: left center;
    transition: 0.3s;
    background: linear-gradient(to left, #095BCB);
    -webkit-box-shadow: 0px 4px 20px 0px rgba(28, 97, 226, 0.45);
    -moz-box-shadow: 0px 4px 20px 0px rgba(29, 117, 233, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(33, 65, 172, 0.871);
}

.successBtn{
    background: #28a745 !important;
    border-color: #28a745 !important;
}

.topBar {
    background: linear-gradient(to right, #095BCB 0%, #247ec3 60%, #1775bd 100%);
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.intelphone label {
    width: 100%;
}

.intelphone .iti {
    width: 100%;
}

textarea.height-150 {
    height: 150px;
    max-height: 150px;
}

/* end color */

.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
    overflow: auto !important;
    height: 100%;
}

.login-page .card-login.card-plain .input-group.no-border .form-control:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.login-page .card-login .input-group:last-child {
    margin-bottom: 10px;
}

.login-page .card-login .logo-container {
    width: 200px;
    margin-bottom: 20px;
}

.error {
    color: red !important;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.form-control.error {
    color: #fff;
}

#form label.error {
    padding-left: unset;
    padding-bottom: 0rem;
}

#form .form-control.error {
    color: #FFFFFF;
}

.btn.btn-icon:not(.btn-footer) .fas {
    top: 45%;
}

.table th {
    font-size: 1.20em !important;
    font-weight: 600 !important;
}

.table tr .multiImageView img {
    max-width: 130px;
    max-height: 130px;
    object-fit: cover;
    margin-right: 15px;
}

.profiletable img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.profiletable span {
    margin-left: .5rem;
}

.profiletable {
    display: flex;
    align-items: center;
}

.label-success{
    background-color: #5cb85c;
    padding: .2em .6em .3em;
    font-size: 13px;
    color: #fff;
    border-radius: .25em;
}
.label-danger{
    background-color: #d9534f;
    padding: .2em .6em .3em;
    font-size: 13px;
    color: #fff;
    border-radius: .25em;
}
.couponCodeSpinner {
    position: absolute;
    top: 35px;
    right: 10px;
}

@media (min-width: 991px) {
    .sidebar-mini .sidebar,
    .sidebar-mini .sidebar .sidebar-wrapper {
        width: 80px;
    }
}

@media screen and (min-width: 990px) and (max-width: 1024px) {
    .sidebar-mini .main-panel {
        width: 100% !important;
    }
    .sidebar-mini .sidebar {
        width: 260px !important;
    }
    .sidebar-mini .sidebar .sidebar-wrapper {
        width: 260px !important;
    }
    .sidebar-mini .sidebar .sidebar-wrapper>.nav li>a p,
    .sidebar-mini .sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
    .sidebar-mini .sidebar:hover .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
    .sidebar-mini .sidebar:hover .sidebar-wrapper .user .info>a>span {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
        opacity: 1;
    }
    .sidebar-mini .sidebar .logo a.logo-normal {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .sidebar-mini .sidebar .sidebar-wrapper .user .info>a>span {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
}

.panel {
    margin-bottom: 0px;
}

.msg_container_base {
    border: 1px solid #ddd;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 600px;
    min-height: 600px;
    overflow-x: hidden;
}

.top-bar {
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.msg_receive {
    padding-left: 0;
    margin-left: 0;
}

.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}

.messages {
    background: #fff;
    padding: 10px 20px;
    border-radius: 7px;
    max-width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 0px;
}

.messages>p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.messages>time {
    font-size: 11px;
    color: #ccc;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.img {
    display: block;
    width: 100%;
}

.avatar {
    position: relative;
}

.base_receive>.avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent>.avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
}

.msg_sent>time {
    float: right;
}

.msg_container_base::-webkit-scrollbar-track {
    background-color: #fff !important;
}

.msg_container_base::-webkit-scrollbar {
    width: 5px;
    background-color: #fff !important;
}

.msg_container_base::-webkit-scrollbar-thumb {
    background-color: #A5A6A7 !important;
    border-radius: 20px;
}

.chatuserimg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.own-text {
    padding: 12px 15px;
    background: #56AAFF;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
}

.other-text {
    padding: 12px 15px;
    background: #EFF2F7;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
}

.need-chat-person .chatsendername {
    font-weight: 600;
    font-size: 13px;
}

.single-need-chat .chatsendtime {
    font-size: 10px;
}

.chatrplyimg {
    height: 90px;
    width: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.btn-group.dropup {
    position: fixed;
    left: 0px;
    bottom: 0;
}

.fa-star {
    color: #ffbe00d9;
    margin-right: 1px;
}
.apprateemoji {
    color: #ffbe00d9;
    font-size: 22px;
}

.select2.select2-container {
    width: 100% !important;
}

.w-50px {
    width: 50px !important;
}

.education-div {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 11px 2px #E3E3E3;
}
.productsVariant-div {
    background: #fff;
    margin: 0rem 0rem 2rem 0rem;
    padding: 2rem;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.16);
    border-radius: 10px;
}

.productsVariant-div .form-group input[type=file] {
    border: 0;
    opacity: 1;
    position: unset;
    height: 100%;
}
.productsvarianttitle {
    color: #9A9A9A;
}
.productsVariant-div .rmvBtn {
    width: 100px;
    display: block;
    background: #fff;
    color: #5DC7F5;
    border: 1px solid #5DC7F5;
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: none;
}
#portfolio .remove {
    width: 100%;
}
.colordiv
{
    height: 28px;
    width: 50px;
    border-radius: 4px;
}

@media (max-width: 575px) {
    .mobchatcenter {
        text-align: center;
    }
    .own-text {
        text-align: center !important;
    }
    .chatrplyimg {
        margin-left: auto;
        margin-right: auto;
    }
}
