.htaccess
.env
# assets/uploads/*
# !assets/uploads/index.html
# api_log*
# worker/*
# !worker/index.html

#----- (Custom changes) -
composer.lock

# IDE Files
#-------------------------
/nbproject/
.idea/*
